.DS_Store
node_modules/
# /dist/ 这里主要在github服务器进行预览，所以注释了，后期更新到自己服务器上再说
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/test/unit/coverage/
/test/e2e/reports/
selenium-debug.log

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
